*{
    margin:0;
    padding:0;
    border:0;
    /* isso ja tira tudo */
}
.genos{
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

body{
    font-family: sans-serif;
    background: linear-gradient(to right, #3f0000, #080808);
}
#main{
    text-align: center;
}
.box{
    display: inline-block;
    vertical-align: top;
    width: calc(33.333%);
}
#divtitulo{
    background: linear-gradient(to right, #3f0000, #080808);
    font-family: Genos;
    margin-bottom: 30px; 
    margin-top: 10px;
}
.titulo01{
    color: rgb(240, 238, 255);
    margin: 0px 0px 50px 0px;
    font-size: 65px;
    text-align: center;
    background-image: linear-gradient(to right, #ff0000, #ffffff);
    background-size: 30% 30%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* #################### ESQUERDA ####################*/
#esquerda{
    font-family: Genos;
    color: rgb(255, 255, 255);
    max-width: 300px;
    min-width: 100px;
    background-color: #7a271c00;
    padding: 10px;
    
}
.menu ul{
    list-style: none;
    text-decoration: none;
    
    
}
.menu li a:hover {
    background-color: #000000;
    padding: 1px 10px;
    border-radius: 5px;
  }

li>a{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    text-decoration: none;
    font-family: Genos;
}

/* #################### MEIO #################### */
#meio{
    width: 100%;
    max-width: 850px;
    min-width: 300px;
    background-color: #140606;
    border-radius: 10px;
    margin-bottom: 30px;
}
.titulo02{
    color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 20px;
    font-size: 2em;
    margin: 20px 0px 10px 0px;
    background-image: linear-gradient(to right, #a51b1bd0, #360101be);
    background-size: 30% 30%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prologo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    text-align: justify;
    width: 90%;
    margin: 5px auto 30px auto;
}
#distrito20{
    width: 80%;
}
#anteiku{
    margin: 40px 0px 0px 0px;
    width: 70%;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
#distritos{
    width: 80%;
    background-color: rgba(255, 214, 195, 0.411);
    margin: 0px 0px 0px 0px;
    border-radius: 15px;
}
#aogiri{
    width: 80%;
    margin: 0px 0px 0px 0px;
    min-width: 280px;
    max-width: 800px;
}

/* #################### DIREITA #################### */
#direita{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 5px;
    width: 350px;
}
.direita>p{
    border: 1px solid red;
    /* padding: 5px 0px 5px 25px; */
    font-size: 1.3em;

}
.imgd{
    /* width: 112px;LARGURA MOBILE */
    margin: 10px 0px 10px 0px;
}
#MangaCap1{  
    
}
#MangaCap5{

}
#MangaCap7{
    
}

/*.icone-pesquisa {
    display: inline-block;
    font-family: "Font Awesome";
    content: "\f002";
    font-size: 16px;
    color: #000;
    margin-right: 5px;
  } */
